<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../static/style.scss">
    <!--<link rel="stylesheet" href="../static/cssstyles.css" type="text/css">-->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<h3>test</h3>
<div class="crust">
    <div class = "cheese"></div>
    <!-- toppings -->
    <div class="pepperoni one"></div>
    <div class="pepperoni two"></div>
    <div class="pepperoni three"></div>
    <div class="pepperoni four"></div>
    <div class="pepperoni five"></div>
    <div class="pepperoni six"></div>
    <div class="pepperoni seven"></div>
    <div class="pepperoni eight"></div>
    <div class="pepperoni nine"></div>
    <div class="pepperoni ten"></div>
    <div class="pepperoni eleven"></div>
    <!-- mushrooms -->
    <div class="mushroom one">
        <div class="cap"></div>
        <div class="stalk"></div>
    </div>
    <div class="mushroom two">
        <div class="cap"></div>
        <div class="stalk"></div>
    </div>
    <div class="mushroom three">
        <div class="cap"></div>
        <div class="stalk"></div>
    </div>
    <div class="mushroom four">
        <div class="cap"></div>
        <div class="stalk"></div>
    </div>
    <!-- bacon -->
    <div class="bacon one">
        <div class="crease one"></div>
    </div>
    <div class="bacon two">
        <div class="crease two"></div>
    </div>
    <div class="bacon three">
        <div class="crease three"></div>
    </div>
</div><!-- crust -->


</body>
</html>